* {
    margin:0; padding:0; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
a { text-decoration: none !important; }

$text-primary: #707070;
$text-secondary: #94A7BB;

.content {
    padding-left: 5%;
    padding-right: 5%;
}

$layout-breakpoint-medium: 1000px;
$layout-breakpoint-small: 750px;

// -----------------------------------------------------------------------navbar
#navbar {
    @extend .content;
    position: fixed;
    width: 100%;
    padding-top: 10px;
    div {
        position: relative;
        #logo {
            display: inline-block;
            img {
                width: 100px;
                height: 100px;
                vertical-align: top;
            }
            #name {
                margin-left: 5px;
                text-align: right;
                display: inline-block;
                h1 {
                    margin: 0;
                    color: $text-primary;
                    font-weight: bold;
                }
                h2 {
                    color: $text-secondary;
                }
            }
        }
        #menus {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            ul {
                height: 100%;
                display: flex;
                align-items: center;
                li#menu-mobile-close a {
                    text-align: right !important;
                }
                li {
                    display: inline-block;
                    margin-left: 30px;
                    a {
                        color: $text-primary;
                        font-weight: bold;
                        position: relative;
                    }
                }
                li a::after {
                    text-align: center;
                    content: '';
                    border-bottom: 2px solid $text-primary;
                    position: absolute;
                    bottom: -8px;
                    right: 0;
                    width: 0%;
                    transition: width .2s;
                }
                li:hover a::after {
                    text-align: center;
                    content: '';
                    border-bottom: 2px solid $text-primary;
                    position: absolute;
                    bottom: -8px;
                    right: 0;
                    width: 80%;
                }
                li.active-menu a::after {
                    text-align: center;
                    content: '';
                    border-bottom: 2px solid $text-primary;
                    position: absolute;
                    bottom: -8px;
                    right: 0;
                    width: 80%;
                    transition: width .2s;
                }
            }
        }
        #menus-mobile {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 50%;
            ul {
                height: 100%;
                display: inherit;
                align-items: center;
                li#menu-mobile-close {
                    text-align: right;
                    padding-right: 10px;
                }
                li {
                    display: block;
                    margin-left: 0;
                    padding: 5px;
                    background-color: white;
                    a {
                        color: $text-primary;
                        font-weight: bold;
                        position: relative;
                        padding-left: 50px;
                    }
                }
                li.active-menu-mobile a {
                    padding-left: 20px;
                }
            }
        }
        #menus-mobile-button {
            display: none;
        }
    }
}
@media (min-width: $layout-breakpoint-small) {
    #navbar {
        div {
            #menus-mobile {
                display: none !important;
            }
        }
    }
}
@media (max-width: $layout-breakpoint-medium) {
    #navbar {
        div {
            #logo {
                img {
                    width: 75px;
                    height: 75px;
                }
                #name {
                    h1 {
                        font-size: 1.8em;
                    }
                    h2 {
                        font-size: 1.4em;
                    }
                }
            }
            #menus {
                ul {
                    li {
                        margin-left: 20px;
                        a {font-size: .9em;}
                    }
                }
            }
        }
    }
}
@media (max-width: $layout-breakpoint-small) {
    #navbar {
        div {
            #logo {
                img {
                    display: none;
                }
                #name {
                    h1 {
                        font-size: 1.5em;
                    }
                    h2 {
                        font-size: 1.2em;
                    }
                }
            }
            #menus {
                display: none;
            }
            #menus-mobile {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 50%;
                ul {
                    height: 100%;
                    display: inherit;
                    align-items: center;
                    li {
                        display: block;
                        margin-left: 0;
                        padding: 5px;
                        a {
                            color: $text-primary;
                            font-weight: bold;
                            position: relative;
                        }
                    }
                    li.active-menu-mobile a {
                        padding-left: 20px;
                    }
                }
            }
            #menus-mobile-button {
                display: inline-block;
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 1.5em;
            }
        }
    }
}